@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
  font-family:monospace;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 50px;
  margin: 0 100px;

}

li {
  background-color: #c7e9e1;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(1, 77, 66, 0.2);
  height: 600px;
  width:auto;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

button:hover {
  background-color: #029676;
}

form input,
form button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="checkbox"] {
  width: auto;
}

form button {
  width: auto;
  background-color: #28a745;
  color: white;
}

#bookTitle {
  width: auto;
  height: 50px;
  font-size:18px;
}

